include requirements-runtime.txt

pytest==3.0.5
pytest-cov == 2.3.1
# pytest-logging==2015.11.4
hypothesis==3.6.1
hypothesis-pytest==0.19.0
Flask-Testing==0.6.1
recommonmark==0.4.0
sphinx-rtd-theme==0.1.9
Sphinx==1.5.2
sphinxcontrib-napoleon==0.6.0
betamax==0.8.0
betamax-serializers==0.2.0
